.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 0 15px;
}

.pagination li {
    margin-bottom: 4px;
}

.pagination button {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: transparent;
    color: #ee76ad;
    line-height: 40px;
    text-align: center;
}

.pagination .currentPage button {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #ee76ad;
    color: white;
    line-height: 40px;
    text-align: center;
}

